<body style='background-color:#191919;'>
    {% load widget_tweaks %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div  style='background-color:black;' class="container text-white rounded">
    <div class="row gutters" style='background-color:black;'>
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" style='background-color:#191919;'>
    <div class="card h-100" style='background-color:#191919;'>
        <div class="card-body" style='background-color:#121820;'>
            <div class="account-settings" style='background-color:#121820;'>
                <div class="user-profile" style='background-color:;'>
                    <div class="user-avatar" style='background-color:#121820;'>
                        <img src="/media/{{profile.pic}}" alt="Maxwell Admin">
                    </div>
                    <h5 class="user-name">{{request.user}}</h5>
                    <h6 class="user-email">{{profile.name}} {{profile.surnname}}</h6>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style='background-color:#121820;'>
    <div class="card h-100" style='background-color:#121820;'>
        <div class="card-body" style='background-color:#121820;'>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Informacje o profilu</h6>
                </div>
                <form action="" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Imię</label>
                            {% render_field form.name type="text" class="form-control" id="fullName" placeholder="Podaj Imię"  %}
                        </div>
                    </div>
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Nazwisko</label>
                            {% render_field form.surnname type="text" class="form-control" id="fullName" placeholder="Podaj Nazwisko"  %}
                        </div>
                    </div>
    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Zdjęcie</label>
                            {% render_field form.pic %}
                        </div>
                    </div>
                    
                   
                
            </div>
            <br>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Aktualizuj</button>
                        <a href="{% url 'dash' %}"><button class='btn btn-danger'>Cofnij</button></a>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<style>
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }
    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }
    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }
    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }
    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }
    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }
    .account-settings .about p {
        font-size: 0.825rem;
    }
    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }
    
    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
    
    
</style>
</body>