<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
        background-color: #191919;
    }

    .logo {
        text-align: center;
        width: 200px;
        padding: 10px;
    }
    .brutus{
        color:white;
    }
</style>
<div style="margin-top: 100px;" class="container d-flex justify-content-center align-self-center mt-12">
    <div class=" row centered-form align-self-center ">
        <div class=" col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 align-self-center ">
            <div style=" background-color: #111827; border-radius: 20px;" class=" panel panel-default ">
                <img class=" logo "
                    src=" http://1.bp.blogspot.com/-vMN-nDGDvFg/Ucoylp9O-sI/AAAAAAAAae0/6wQq6KT65zQ/s1600/Ekstraklasa+logo+2013.png "
                    alt=" ">
                <!-- //asa -->
                <div style=" background-color: #111827; color: aliceblue; " class=" panel-heading ">
                    <h3 style=" background-color: #111827; color: aliceblue; " class=" panel-title text-white ">Dodaj
                        Punkty!
                        <small></small></h3>
                </div>
                
                <div class=" panel-body ">
                    <form role=" form " method="POST">
                        {% csrf_token %}
                        <div class=" form-group ">
                            <p class="brutus">Użytkownik</p>
                            {{form.user}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka1</p>
                            {{form.kolejka1}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka2</p>
                            {{form.kolejka2}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka3</p>
                            {{form.kolejka3}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka4</p>
                            {{form.kolejka4}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka5</p>
                            {{form.kolejka5}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka6</p>
                            {{form.kolejka6}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka7</p>
                            {{form.kolejka7}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka8</p>
                            {{form.kolejka8}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka9</p>
                            {{form.kolejka9}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka10</p>
                            {{form.kolejka10}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka11</p>
                            {{form.kolejka11}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka12</p>
                            {{form.kolejka12}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka13</p>
                            {{form.kolejka13}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka14</p>
                            {{form.kolejka14}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka15</p>
                            {{form.kolejka15}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka16</p>
                            {{form.kolejka16}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka17</p>
                            {{form.kolejka17}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka18</p>
                            {{form.kolejka18}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka19</p>
                            {{form.kolejka19}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka20</p>
                            {{form.kolejka20}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka21</p>
                            {{form.kolejka21}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka22</p>
                            {{form.kolejka22}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka23</p>
                            {{form.kolejka23}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka24</p>
                            {{form.kolejka24}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka25</p>
                            {{form.kolejka25}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka26</p>
                            {{form.kolejka26}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka27</p>
                            {{form.kolejka27}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka28</p>
                            {{form.kolejka28}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka29</p>
                            {{form.kolejka29}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka30</p>
                            {{form.kolejka30}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka31</p>
                            {{form.kolejka31}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka32</p>
                            {{form.kolejka32}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka33</p>
                            {{form.kolejka33}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Kolejka34</p>
                            {{form.kolejka34}}
                        </div>
                        <div class=" form-group ">
                            <p class="brutus">Dodatkowe Punkty</p>
                            {{form.dodatkowepunkty}}
                        </div>
                        
                        <input type="submit" value="Aktualizuj Punkty" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

