{% extends 'core/main.html' %}
{% block content %}
<div class="container w-full mx-auto pt-20">
    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
        <br>
        <br>
        <br>
        <h2 class="text-white ml-3 items-center flex mb-10">Użytkownik: <b> {{ users }}</b></h2>
        <div class="container w-16 items-center">
        </div>
        <input id="search" class="form-control form-control-lg" type="text" placeholder="Wyszukaj...">
        <table id="myTable" style="background-color: #111827;" class="table table-dark container">
            <thead>
                <tr>
                    <th scope="col"><b>Nazwa Wydarzenia</b></th>
                    <th scope="col"><b>Użytkownik</b></th>
                    <th scope="col"><b>Wynik</b></th>
                    <th scope="col"><b>Data Wydarzenia</b></th>
                    <th scope="col"><b>Data Obstawienia</b></th>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes  %}
                {% if users.id == vote.author.id  %}
                <tr>
                    <td class="text-capitalize" scope="row">
                        {{vote.post.body}}
                    </td>
                    <td class="text-capitalize" scope="row">
                        {{vote.author}}
                    </td>
                    <td class="text-capitalize" style="color: green;" scope="row">
                        {{vote.name}}
                    </td>
                    <td class="text-capitalize" scope="row">
                        {{vote.post.created_on}}
                    </td>
                    <td class="text-capitalize" scope="row">
                        {{vote.updated}}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <hr class="border-b-2 border-gray-600 my-8 mx-4">
    </div>
</div>
{% endblock content %}